.baloon {
    position: relative;
    &_min {
        padding: 20px 30px;
    }
    &_little {
        padding: 30px;
        @media #{$breakpoint-xs-only} {
            padding: 20px;
        }
    }
    &_small {
        padding: 40px 30px;
    }
    &_medium {
        padding: 40px 60px;
        @media #{$breakpoint-xs-only} {
            padding: 20px;
        }
    }
    &_middle {
        padding: 40px 80px;
        @media #{$breakpoint-xs-only} {
            padding: 20px;
        }
    }
    &_large {
        padding: 100px 160px;
        @media #{$breakpoint-xs-only} {
            padding: 20px;
        }
    }
    &_center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &_border {
        &-gray {
            border: 2px solid #adaeac;
        }
        &-red {
            border: 2px solid #c10230;
        }
        &-green {
            border: 2px solid #76bc21;
        }

        &_radius {
            &-40 {
                border-radius: 40px;
            }
            &-50 {
                border-radius: 50px;
            }
            &-20 {
                border-radius: 20px;
            }

            &-40,
            &-50 {
                @media #{$breakpoint-xs-only} {
                    border-radius: 20px;
                }
            }
        }
    }
    &_color {
        &-white {
            background-color: white;
        }
        &-black {
            background-color: black;
        }
        &-gray {
            background-color: #0f0f0f;
            &-light {
                background-color: #393e42;
            }
        }
        &-red {
            background-color: #c10230;
        }
        &-green {
            background-color: #76bc21;
        }
        &-lightGreen {
            background-color: #c3e29e;
        }
        &-pink {
            background-color: #fceaeb;
        }
        &-violet {
            background: linear-gradient(to bottom, rgba(142, 0, 254, 0.9) 0, rgba(146, 150, 255, 0.78) 100%);
        }
        &-crema {
            background-color: #fff2d1;
        }
        &_gradient {
            &-red {
                background: radial-gradient(
                    114.03% 100% at 47.98% 0%,
                    rgba(50, 1, 1, 0.5) 0%,
                    rgba(22, 6, 6, 0.235) 100%
                );
            }
        }
    }
    &_image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        object-fit: cover;
    }
    &_robot {
        border-radius: 45px;
        overflow: hidden;
        padding: 20px 0 0 0;
        background: linear-gradient(to bottom, rgba(142, 0, 254, 0.9) 0, rgba(146, 150, 255, 0.78) 100%);
        // background: linear-gradient(to bottom, #8e00fe 0, #9296ff 100%);
        @media #{$breakpoint-xs-only} {
            border-radius: 40px;
            padding: 30px 30px 0 30px;
        }
    }

    &_shadow {
        &-standart {
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
        }
    }
    &_horisontal {
        display: flex;
        flex-wrap: no-wrap;
        overflow-x: hidden;
        &__section {
            // height: calc(100vh - 300px);
            width: 100%;
            padding: 20px 40px 20px 20px;
        }
    }
}

.robot {
    &-dialog {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        max-width: 75vw;
        margin: 0 auto;
        @media #{$breakpoint-xs-only} {
            flex-direction: column;
        }
        &_img {
            @media #{$breakpoint-xs-only} {
                order: 1;
                margin-right: auto;
            }
            &-hide{
                @media #{$breakpoint-xs-only} {
                    display: none;
                }
            }
        }
        &_baloon {
            margin-bottom: auto;
            padding: 40px 25px;
            border-radius: 40px 40px 40px 0px;
            background-color: white;
            // box-shadow: 0px 13px 22px rgba(39, 6, 6, 0.05);
            box-shadow: 0 4px 10px rgba(0,0,0,.1);
            @media #{$breakpoint-xs-only} {
                border-radius: 20px 20px 20px 0px;
                padding: 20px;
                margin-bottom: 0;
                // margin-left: auto;
                margin: 0 auto;
                flex-basis: 90%;
                max-width: 90%;
            }
        }
    }
    &__talck {
        width: 18.181em !important;
        height: 19.09em !important;
    }
    &__fly {
        width: 13.181em !important;
        height: 14.09em !important;
    }
}

.text {
	&:last-child {
		margin-bottom: 0;
	}

	&+&,
	&+.btn {
		margin-top: 10px;
	}

  &-35 {
    font-size: 35px;
    line-height: 40px;    
  }

  &-30 {
    font-size: 30px;
    line-height: 40px;  

    @media (max-width: 719px) {
			font-size: 18px;
			line-height: 27px!important;
		} 
  }

	&-xxl {
		font-size: 24px;
		line-height: 30px!important;

		@media (max-width: 719px) {
			font-size: 18px;
			line-height: 27px!important;
		}
	}

	&-xl {
		font-size: 22px;
		line-height: 30px!important;

		@media (max-width: 719px) {
			font-size: 18px;
			line-height: 27px!important;
		}
	}

	&-l {
		font-size: 18px;
		line-height: 27px!important;

		@media (max-width: 719px) {
			font-size: 16px;
			line-height: 24px!important;
		}
	}

	&-m {
		font-size: 16px;
		line-height: 24px!important;

		@media (max-width: 719px) {
			font-size: 14px;
			line-height:  20px!important;
		}
	}

	&-s {
		font-size: 14px;
		line-height: 20px!important;

		@media (max-width: 719px) {
			font-size: 12px;
			line-height: 17px!important;
		}
	}

	&-xs {
		font-size: 12px;
		line-height: 16px!important;

		@media (max-width: 719px) {
			font-size: 10px;
			line-height: 14px!important;
		}
	}

	&-nowrap {
		white-space: nowrap;
	}

	&-center {
		text-align: center;
	}

	&-right {
		text-align: right;
	}

	&-bold {
		font-weight: bold;
	}

	&-medium {
		font-family: $Medium;
	}

	&-uppercase {
		text-transform: uppercase;
	}

	&-white {
		color: $white !important;
	}

	&-purple {
		color: $purple !important;
	}

	&-red {
		color: $red !important;
	}

	&-dark-blue {
		color: rgba($corn, 1) !important;
	}

	&-blue {
		color: rgba($candy, 1) !important;
	}

	&-light-blue {
		color: rgba($agua, 1) !important;
	}

	&-gray-light {
		color: rgba(#000000, .5);
	}

	&-blue-gray-1 {
		color: rgba($blue-gray-1, 1) !important;
	}

	&-blue-gray-2 {
		color: rgba($blue-gray-2, 1) !important;
	}

	&-green {
		color: rgba($green, 1) !important;
	}

	&-ls-1 {
		letter-spacing: 1px;
	}

	&-ls-2 {
		letter-spacing: 2px;
	}

	&-ls-3 {
		letter-spacing: 3px;
	}

	&-ls-4 {
		letter-spacing: 4px;
	}

	&-ls-5 {
		letter-spacing: 5px;
	}

	@media screen and (max-width: 719px) {
		&-xs-left {
			text-align: left !important;
		}

		&-xs-center {
			text-align: center;
		}

		&-xs-right {
			text-align: right !important;
		}
	}
}

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.img_center {
    display: block;
    margin: 0 auto;
}
.br-15 {
  border-radius: 15px !important;
}
.pt-15 {
  padding-top: 15px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pr-20 {
  padding-right: 20px;
}
.pl-20 {
  padding-left: 20px;
}
.border-grey {
  border: 1px solid rgba($black, 0.1);
}
.br-20 {
    border-radius: 20px!important;
}
.pt-20 {
    padding-top: 20px!important;
}
.pr-15 {
    padding-right: 15px!important;
}
.pb-20 {
    padding-bottom: 20px!important;
}
.pl-15 {
    padding-left: 15px!important;
}


.contextBlock-cloud__container {
    position: relative;
}
.contextBlock-cloud__item p {
    position: absolute;
}
.contextBlock-cloud__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
}
.contextBlock-cloud__item:nth-child(1) {
    top: 0;
}
.contextBlock-cloud__item:nth-child(2) {
    bottom: 0;
}
.flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}




.info-block__purple {
    width: 100%;
    margin: 0 auto;
    position: relative;
    background: url(/images/info-block-bg.png) no-repeat;
    background-size: 100% 100%;

    &-hide {
      @media #{$breakpoint-xs-only} {
          display: none;
      }
    }

    &-inner{
        display: flex;
        justify-content: space-between;

        @media #{$breakpoint-xs-only} {
            flex-direction: column;
        }

        &-text{
            padding: 20px;
        }
    }

    &-dialog{
        padding: 20px;

        &_img{
            @media #{$breakpoint-xs-only} {
                order: 2;
            }
        }

        &_text{
            @media #{$breakpoint-xs-only} {
                margin-bottom: 20px;
            }
        }

   
    }
    
}

.speech {
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
    border: 1px solid rgba(0,0,0,.07);
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
    padding: 20px;
    background-color: #fff;
    color: #000;
    z-index: 1;
}

.speech_tails:before {
    display: block;
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: -17px;
    border: 8px solid transparent;
    border-bottom: 8px solid rgba(0,0,0,.2);
    border-left: 8px solid rgba(0,0,0,.2);
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    @media #{$breakpoint-xs-only} {
        bottom: -25px;
        top: auto;
        left: 16px;
        right: auto;
        border: 8px solid transparent;
        border-top: 8px solid rgba(0, 0, 0, .2);
        border-right: 8px solid rgba(0, 0, 0, .2);
    }
}




@media only screen and (min-width: 720px){
.speech_tails-left-lg:before {
    left: -16px;
    right: 0;
    bottom: 0;
    border: 8px solid transparent;
    border-top: 8px solid rgba(0,0,0,.2);
    border-right: 8px solid rgba(0,0,0,.2);
}
}

.test__contextBlock {
    color: #fff;
    background: -o-linear-gradient(348.79deg,#3c2fd0 -12.8%,#9e32f2 190.18%);
    background: linear-gradient(101.21deg,#3c2fd0 -12.8%,#9e32f2 190.18%);
    border-radius: 10px;
    padding: 30px;
    align-items: center;

    @media #{$breakpoint-xs-only} {
        flex-direction: column;
        //background: url(../images/exercise-bg-xs.png) no-repeat;
        background-size: 100% 100%;
    }
}

.banner {
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 0;
    padding: 20px;
    background-color: #8e00fe;
    border-radius: 20px;

    &_input {
      border-radius: 5px;
      font-size: 16px!important;
      padding: 16px 12px;
      border: none;
      outline: none;
    }
}

.bg-rose-gradient {
    background: linear-gradient(180deg,#fef0ff 3.26%,#e6f9ff 105.13%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 15px;
}
